* {
    margin: 0;
    padding: 0;
}

#popup1 {
    /* border: 1px solid red; */
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#popup1 #left_arrow {
    width: 40px;
    height: 40px;
    padding-bottom: 3%;
    cursor: pointer;

}

#popup1 #right_arrow {
    width: 40px;
    height: 40px;
    /* border: 2px solid red; */
    padding-bottom: 3%;
    cursor: pointer;
}

.close_btn {
    /* border: 2px solid red; */
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;


}

#popup #main_popup_img {}